<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Démonstration Arnaque</title>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>
<body>
    <!-- Header avec la navigation -->
    <header>
        <h1>Gardiens du Web</h1>
        <img src="images/logo.png" alt="Logo de Gardiens du Web" class="logo">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="article.html">Articles</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="atelier.html">Atelier</a></li>
            </ul>
        </nav>        
    </header>
    
    <main>
        <section>
            <h2>Exemple d'arnaque</h2>
            <img src="chemin/vers/image2.jpg" alt="Exemple d'arnaque">
            <p>Description de l'image ou explication.</p>

            <a href="atelier.html" class="button" id="back-button">Retour à l'atelier</a>
        </section>
    </main>
    
     <!-- Footer -->
     <footer>
        <p>© 2024 Gardiens du Web. WORKSHOP 2024 - Aymeric, Anthony, Flavien et Juliette.</p>
    </footer>
</body>
</html>
