<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardiens du Web - Articles</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>
<body>
    <!-- Header avec la navigation -->
    <header>
        <h1>Gardiens du Web</h1>
        <img src="images/logo.png" alt="Logo de Gardiens du Web" class="logo">
        <nav>
            <ul>
                <li><a href="/">Accueil 🏠</a></li>
                <li><a href="article.html">Articles 📖</a></li>
                <li><a href="forum.html">Forum 💬</a></li>
                <li><a href="atelier.html">Ateliers 🛠️</a></li>
                <li><a href="aide.html">Aide ❓</a></li>
            </ul>
        </nav>        
    </header>

    <!-- Section Articles -->
    <section id="articles" class="content-section">
        <h1>Articles 📝</h1>
        <p>Découvrez nos derniers articles sur la sécurité en ligne et les bonnes pratiques pour naviguer sur Internet. 🌍</p>

        <article class="article">
            <h2><a href="article1.html">Bonnes pratiques pour identifier et signaler les contenus toxiques en ligne 🚫</a></h2>
            <p>Dans cet article, découvrez comment identifier les contenus nuisibles tels que les discours haineux, le harcèlement et la désinformation. Apprenez à signaler efficacement ces contenus en utilisant les outils à votre disposition, tout en contribuant à un web plus sain... <a href="article1.html">Lire la suite 👉</a></p>
        </article>        

        <article class="article">
            <h2><a href="article2.html">Comment se protéger contre le harcèlement en ligne 🛡️</a></h2>
            <p>Découvrez des conseils pratiques pour reconnaître, éviter et réagir face au harcèlement en ligne, ainsi que les outils et recours disponibles pour se protéger... <a href="article2.html">Lire la suite 👉</a></p>
        </article>        

        <article class="article">
            <h2><a href="article3.html">Les effets des discours de haine sur la santé mentale et comment les combattre 🧠</a></h2>
            <p>Apprenez à reconnaître les discours de haine en ligne et découvrez les conséquences graves sur la santé mentale, ainsi que des moyens pour les signaler et y faire face... <a href="article3.html">Lire la suite 👉</a></p>
        </article>
        
        <a href="/" class="button">Retour à l'accueil 🔙</a>
    </section>

    <!-- Footer -->
    <footer>
        <p>© 2024 Gardiens du Web. WORKSHOP 2024 - Aymeric, Anthony, Flavien et Juliette.</p>
    </footer>

    <script src="/js/app.js"></script>
    <!-- Ajouter le script Tidio -->
    <script src="https://code.tidio.co/tqmwp1oz5ad8pwrttkxbeqfrkxvneh0m.js" async></script>
</body>
</html>
