<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Démonstration Phishing</title>
</head>
<body>
    <header>
        <h1>Démonstration Phishing</h1>
    </header>
    
    <main>
        <section>
            <h2>Exemple de phishing</h2>
            <img src="chemin/vers/image1.jpg" alt="Exemple de phishing">
            <p>Description de l'image ou explication.</p>
        </section>

        <a href="atelier.html" class="button" id="back-button">Retour à l'atelier</a>
    </main>
    
     <!-- Footer -->
     <footer>
        <p>© 2024 CleanWeb. WORKSHOP 2024 - Aymeric, Anthony, Flavien et Juliette.</p>
    </footer>
</body>
</html>
