<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Démonstration Phishing</title>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>
<body>
    <!-- Header avec la navigation -->
    <header>
        <h1>Gardiens du Web</h1>
        <img src="images/logo.png" alt="Logo de Gardiens du Web" class="logo">
        <nav>
            <ul>
                <li><a href="/">Accueil 🏠</a></li>
                <li><a href="article.html">Articles 📖</a></li>
                <li><a href="forum.html">Forum 💬</a></li>
                <li><a href="atelier.html">Ateliers 🛠️</a></li>
                <li><a href="aide.html">Aide ❓</a></li>
            </ul>
        </nav>        
    </header>
    
    <main>
        <section>
            <h2>Comprendre le Phishing sur Instagram</h2>
            <img src="images/phishing_instagram2.png" alt="Exemple de phishing sur Instagram">
            <img src="images/phishing_instagram1.png" alt="Exemple de phishing sur Instagram">
            <img src="images/phishing_instagram.png" alt="Capture d'écran d'un site de phishing">
            <p>Le phishing est une technique d'escroquerie en ligne qui exploite la confiance des utilisateurs. Les attaquants se présentent souvent comme des membres de votre famille ou des entreprises de confiance via de fausses adresses e-mail. L'objectif est de vous inciter à cliquer sur un lien frauduleux ou à télécharger un fichier malveillant.</p>
            <p>Dans le cas présent, vous pourriez croire que vous vous connectez à Instagram, mais en réalité, vos identifiants (mot de passe et nom d'utilisateur) sont en train d'être récupérés par un tiers malveillant, ce qui peut entraîner le vol de votre compte.</p>
            <p>Il est donc crucial d'apprendre à détecter les faux e-mails et les sites web frauduleux. Restez vigilant et vérifiez toujours les liens avant de vous connecter à un service en ligne.</p>

            <a href="atelier.html" class="button" id="back-button">Retour à l'atelier</a>
        </section>
    </main>
    
     <!-- Footer -->
     <footer>
        <p>© 2024 Gardiens du Web. WORKSHOP 2024 - Aymeric, Anthony, Flavien et Juliette.</p>
    </footer>
</body>
</html>
